@charset "utf-8";

body,td,th {color: #FFF;}
body {
	background-color: #050302;
	background-image: url(images/main_bg.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}
#tf2itemdrops {
	font-family:Segoe UI;
	text-shadow: black 2px 2px 2px;
	font-size:24px;
}
.footer {
	font-family:Segoe UI;
	font-size: 9px;
	line-height: 12px;
	font-weight: bold;
	width: 890px;
	margin: 0 auto;
	padding: 10px;
	text-align:center;
	background-color: #050302;
}
a:link,a:visited,a:active {color: #F00;}
a:hover {color: #900;}